body

{
    background-color: GhostWhite;
    max-width: 80vw;
}

h2

{
    background-color:rgb(112, 128, 144);
}

p

{
    color:rgb(112, 128, 144);
}

h4
{
    font-family: 'Anonymous Pro';
}

h1
{
    font-family: 'Anonymous Pro';
}






