body

{
    background-color: LightBlue;
}

h2

{
    background-color:rgb(70, 130, 180);
}

p

{
    color:rgb(186, 85, 211);
}

h4
{
    font-family: 'Courier New';
}

h1
{
    font-family: 'Copperplate Gothic Light';
}
