body

{
    background-color: LightBlue;
    width: 70vw;
}

h2

{
    background-color:rgb(70, 130, 180);
}

p

{
    color:rgb(186, 85, 211);
}

h4
{
    font-family: 'Anonymous Pro';
}

h1
{
    font-family: 'Anonymous Pro';
}



